.button {
    background-color: #4CAF50; /* Verde */
    color: white; /* Texto branco */
    border: none; /* Sem borda */
    padding: 10px 20px; /* Espaçamento interno */
    text-align: center; /* Centraliza o texto */
    text-decoration: none; /* Remove sublinhado */
    display: inline-block; /* Permite definir largura e altura */
    font-size: 16px; /* Tamanho da fonte */
    margin: 4px 2px; /* Margem ao redor do botão */
    cursor: pointer; /* Cursor em forma de mão ao passar o mouse */
    border-radius: 5px; /* Bordas arredondadas */
    transition: background-color 0.3s; /* Transição suave para a cor de fundo */
}

.button:hover {
    background-color: #45a049; /* Cor de fundo ao passar o mouse */
}

.apply-button {
    background-color: #008CBA; /* Azul */
}

.apply-button:hover {
    background-color: #007B9E; /* Azul mais escuro ao passar o mouse */
}